<div class="pred-sim-movies">
    <p>Cosine similarity measure between two movies</p>
    <div class="row">
        <div class="column column-50">
            <span>Movie A</span>
            <select name="movieA" class="movieA">
                <option value="">Select movie Id A</option>
                {{#each movieIds}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </div>
        <div class="column column-50">
            <span>Movie B</span>
            <select name="movieB" class="movieB">
                <option value="">Select movie Id B</option>
                {{#each movieIds}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </div>
    </div>

    <div class="row">
        <div class="column pred-sim-movies-result"></div>
    </div>

    <div class="row">
        <div class="column">
            <button class="calCosimBtn">Predict</button>
        </div>  
    </div>
</div>

<script>
    (() => {
        const predSimMovies = document.querySelector('.item-based .pred-sim-movies');
        const calCosimBtn = predSimMovies.querySelector('.calCosimBtn');
        const movieASelect = predSimMovies.querySelector('select.movieA');
        const movieBSelect = predSimMovies.querySelector('select.movieB');
        const predicSimMOviesResult = predSimMovies.querySelector('.pred-sim-movies-result');

        calCosimBtn.addEventListener('click', e => {
            if (movieASelect.value === '' || movieBSelect.value === '') {
                predicSimMOviesResult.innerHTML = `<p>Invalid user movie id</p>`;
                return;
            }

            if (movieASelect.value === movieBSelect.value) {
                predicSimMOviesResult.innerHTML = `<p>Similarity measure: 1</p>`;
                return;
            }

            const movieIdA = movieASelect.value;
            const movieIdB = movieBSelect.value;
            predicSimMOviesResult.innerHTML = `<p>Calculating</p>`

            fetch(`item-based/cosim/${movieIdA}/${movieIdB}`)
                .then(response => response.json())
                .then(data => predicSimMOviesResult.innerHTML = `<p>Calculate similarity measure movie ${movieIdA} & movie ${movieIdB}: ${data.value}</p>`)
                .catch(error => console.error(`Error: ${error}`));            
        });
    })();
</script>