<div class="sim-two-users">
    <p>Prediction similarity between 2 users</p>
    <div class="row sim-two-users">
        <div class="column column-50">
            <span>User A</span>
            <select name="userA" class="userA">
                <option value="">Select user Id</option>
                {{#each userIds}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </div>
        <div class="column column-50">
            <span>User B</span>
            <select name="userB" class="userB">
                <option value="">Select user Id</option>
                {{#each userIds}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </div>
    </div>

    <div class="row">
        <div class="column similar-cal-result"></div>
    </div>

    <div class="row">
        <div class="column">
            <button class="similarityCalculateUsersBtn">Calculate</button>
        </div>  
    </div>
</div>
<script>
    (() => {
        const userBasedContainer = document.querySelector('.user-based .sim-two-users');
        const simCalUsersBtn = userBasedContainer.querySelector('.similarityCalculateUsersBtn');
        const userASelect = userBasedContainer.querySelector('select.userA');
        const userBSelect = userBasedContainer.querySelector('select.userB');
        const similarCalResult = userBasedContainer.querySelector('.similar-cal-result');

        simCalUsersBtn.addEventListener('click', e => {
            const userAId = userASelect.value;
            const userBId = userBSelect.value;
            if (userAId === '' || userBId === '') {
                similarCalResult.innerHTML = `<p>Invalid User Id</p>`;
                return;
            }

            if (userAId === userBId) {
                similarCalResult.innerHTML = `<p>Similarity between user ${userAId} & user ${userBId}: 1</p>`
                return;
            }

            similarCalResult.innerHTML = `<p>Calculating</p>`;

            fetch(`user-based/sim/${userAId}/${userBId}`)
                .then(response => response.json())
                .then(data => similarCalResult.innerHTML = `<p>Similarity between user ${userAId} & user ${userBId}: ${data.value}</p>`)
                .catch(error => console.error(`Error: ${error}`));
        });
    })();
</script>