<div class="pred-user-movie" style="display: none;">
    <p>Prediction user rating on a movie</p>
    <div class="row">
        <div class="column column-50">
            <span>User</span>
            <select name="user" class="user">
                <option value="">Select user Id</option>
                {{#each userIds}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </div>
        <div class="column column-50">
            <span>Movie</span>
            <select name="movie" class="movie">
                <option value="">Select unrated movie Id</option>
                {{#each movieIds}}
                    <option value="{{this}}" style="display: none;">{{this}}</option>
                {{/each}}
            </select>
        </div>
    </div>

    <div class="row">
        <div class="column pred-user-movie-result"></div>
    </div>

    <div class="row">
        <div class="column">
            <button class="predictUserMovieBtn">Predict</button>
        </div>  
    </div>
</div>

<script>
    (async () => {
        const predUserMovie = document.querySelector('.user-based .pred-user-movie');
        const users = await loadUsers();
        predUserMovie.style.display = '';


        const predictUserMovieBtn = predUserMovie.querySelector('.predictUserMovieBtn');
        const userSelect = predUserMovie.querySelector('select.user');
        const movieSelect = predUserMovie.querySelector('select.movie');
        const movieOptions = Array.from(movieSelect.querySelectorAll('option:not([value=""])'));
        const predUserMovieResult = predUserMovie.querySelector('.pred-user-movie-result');

        const hideAllOption = options => options.forEach(option => {
            option.style.display = 'none';
        });

        userSelect.addEventListener('change', e => {
            const userId = e.target.value;

            if (userId === '') {
                hideAllOption(movieOptions);
                return;
            }

            Array.from(movieSelect.querySelectorAll('option')).forEach(option => {
                if (!users[userId].movieRateRecord.hasOwnProperty(option.value)) {
                    option.style.display = 'block';
                } else {
                    option.style.display = 'none';
                }
            });
        });


        predictUserMovieBtn.addEventListener('click', e => {
            if (userSelect.value === '' || movieSelect.value === '') {
                predUserMovieResult.innerHTML = `<p>Invalid user id or movie id</p>`;
                return;
            }

            const userId = userSelect.value;
            const movieId = movieSelect.value;
            predUserMovieResult.innerHTML = `<p>Calculating</p>`

            fetch(`user-based/pred/${userId}/${movieId}`)
                .then(response => response.json())
                .then(data => predUserMovieResult.innerHTML = `<p>Predict User ${userId} rate movie ${movieId}: ${data.value}</p>`)
                .catch(error => console.error(`Error: ${error}`));            
        });
    })();
</script>