<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

    <!-- Milligram CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <title>App</title>
  </head>
  <body>
    <script>
      async function loadUsers() {
          if (window.hasOwnProperty('users')) {
              return window.users;
          }

          const response = await fetch("/users");
          const data = await response.json();
          return data.usersMap;
      }
    </script>
    <div class="container">
      {{{body}}}
    </div>
  </body>
</html>