<h3>{{message}}</h3>

<div class="row">
    <div class="column">
        <p>
            <a href="group-recommendation/average">
                Average Method
            </a>
        </p>
    </div>
</div>

<div class="row">
    <div class="column">
        <p>
            <a href="group-recommendation/least-misery">
                Least Misery Method
            </a>
        </p>
    </div>
</div>