{{ message }}
<div class="row">
  <div class="column"><a href="/user-recommendation">User Recommendation</a></div>
</div>
<div class="row">
  <div class="column"><a href="/group-recommendation">Group Recommendation</a></div>
</div>