<h3>Total Count: {{ total }}</h3>

<h3>First 2 users</h3>

{{#each users}}
    <div class="row">
        <div class="column">
            <pre><code>{{this}}</code></pre>
        </div>
    </div>
{{/each}}

<h3>First 5 movies</h3>
{{#each movies}}
    <div class="row">
        <div class="column">
            <pre><code>{{this}}</code></pre>
        </div>
    </div>
{{/each}}