<h3>User {{user.userId}}</h3>
<h4>AverateRating: {{user.averageRating}}</h4>
<table>
  <thead>
    <tr>
      <th>Movie</th>
      <th>Rate</th>
    </tr>
  </thead>
  <tbody>
    {{#eachInMap user.movieRateRecord}}
      <tr>
        <td>{{key}}</td>
        <td>{{value}}</td>
      </tr>
  {{/eachInMap}}
  </tbody>
</table>