<h3>Table of users and its rating</h3>
<div class="row">
  <div class="column column-50">
    {{#eachInMap usersMap}}
    <p>
      <a href="users/{{{key}}}">User - {{key}}</a>
    </p>
    {{/eachInMap}}
  </div>
</div>