<h3>{{message}}</h3>

<div class="row">
    <div class="column">
        <p>
            <a href="user-recommendation/user-based">
                User based
            </a>
        </p>
    </div>
</div>

<div class="row">
    <div class="column">
        <p>
            <a href="user-recommendation/item-based">
                Item based
            </a>
        </p>
    </div>
</div>