<h3>Why-Not</h3>
<div class="why-not">
    <p>Select users</p>
    <div class="row">
        <div class="column column-50">
            <label for="us">Users:</label>
            <select name="users" class="users" multiple>
                {{#each userIds}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </div>
    </div>

    <div class="row">
        <div class="column group-list-result"></div>
    </div>

    <div class="row">
        <div class="column">
            <button class="cal-group-list">Calculate Group Recommended List</button>
        </div>  
    </div>

    <div class="why-not-atomic-case">
        <div class="row">
            <div class="column">Why Not</div>
        </div>

        <div class="row">
            <div class="column column-50">
                <label for="user">User:</label>
                <select name="user" class="user"></select>
            </div>
            <div class="column column-50">
                <label for="not-recommended-movies">Not recommended movies:</label>
                <select name="not-recommended-movies" class="not-recommended-movies"></select>
            </div>
        </div>

        <div class="row">
            <div class="column why-not-atom-result"></div>
        </div>

        <div class="row">
            <div class="column">
                <button class="cal-why-not-atom-result">Calculate Why-Not Atom</button>
            </div>
        </div>
    </div>

    <div class="why-not-but-case">
        <div class="row">
            <div class="column">Why Not A But B</div>
        </div>

        <div class="row">
            <div class="column column-33">
                <label for="user">User:</label>
                <select name="user" class="user"></select>
            </div>
            <div class="column column-33">
                <label for="not-recommended-movies">Not recommended movies:</label>
                <select name="not-recommended-movies" class="not-recommended-movies"></select>
            </div>
            <div class="column column-33">
                <label for="recommended-movies">Recommended movies:</label>
                <select name="recommended-movies" class="recommended-movies"></select>
            </div>
        </div>

        <div class="row">
            <div class="column why-not-but-result"></div>
        </div>

        <div class="row">
            <div class="column">
                <button class="cal-why-not-but-result">Calculate Why-Not-But</button>
            </div>
        </div>
    </div>

    <div class="why-not-item-rank-higher-case">
        <div class="row">
            <div class="column">Why is not item A ranked higher</div>
        </div>

        <div class="row">
            <div class="column column-50">
                <label for="user">User:</label>
                <select name="user" class="user"></select>
            </div>
            <div class="column column-50">
                <label for="recommended-movies">Recommended movies:</label>
                <select name="recommended-movies" class="recommended-movies"></select>
            </div>
        </div>

        <div class="row">
            <div class="column why-not-item-rank-higher-case-result"></div>
        </div>

        <div class="row">
            <div class="column">
                <button class="cal-why-not-item-rank-higher-case-result">Calculate Why-Not-Item-A-Rank-Higher</button>
            </div>
        </div>
    </div>

    <div class="why-not-rank-higher-than-case">
        <div class="row">
            <div class="column">Why is not item A higher than B</div>
        </div>

        <div class="row">
            <div class="column column-33">
                <label for="user">User:</label>
                <select name="user" class="user"></select>
            </div>
            <div class="column column-33">
                <label for="lower-ranked-movies">Lower ranked movies:</label>
                <select name="lower-ranked-movies" class="lower-ranked-movies"></select>
            </div>
            <div class="column column-33">
                <label for="higher-ranked-movies">Higher ranked movies:</label>
                <select name="higher-ranked-movies" class="higher-ranked-movies"></select>
            </div>
        </div>

        <div class="row">
            <div class="column why-not-rank-higher-than-result"></div>
        </div>

        <div class="row">
            <div class="column">
                <button class="cal-why-not-rank-higher-than-result">Calculate why-not-rank-higher-than</button>
            </div>
        </div>
    </div>

    <div class="why-not-genre-case">
        <div class="row">
            <div class="column">Why Not suggest movie genre</div>
        </div>

        <div class="row">
            <div class="column column-50">
                <label for="user">User:</label>
                <select name="user" class="user"></select>
            </div>
            <div class="column column-50">
                <label for="not-recommended-genres">Not recommended genres:</label>
                <select name="not-recommended-genres" class="not-recommended-genres"></select>
            </div>
        </div>

        <div class="row">
            <div class="column why-not-genre-result"></div>
        </div>

        <div class="row">
            <div class="column">
                <button class="cal-why-not-genre-result">Calculate Why-Not-Genre</button>
            </div>
        </div>
    </div>
</div>
<script>
    (() => {
        let groupList;
        const whyNot = document.querySelector('.why-not');
        const usersSelect = whyNot.querySelector('.users');
        const groupListResult = whyNot.querySelector('.group-list-result');
        const calGroupList = whyNot.querySelector('.cal-group-list');
        
        const whyNotAtomicCase = whyNot.querySelector('.why-not-atomic-case');
        const whyNotAtomicCase_user = whyNotAtomicCase.querySelector('select.user');
        const whyNotAtomicCase_notRecommendedMovieSelect = whyNotAtomicCase.querySelector('select.not-recommended-movies');
        const whyNotAtomicCase_calWhyNotAtomResult = whyNotAtomicCase.querySelector('.cal-why-not-atom-result');
        const whyNotAtomicCase_whyNotAtomResult = whyNotAtomicCase.querySelector('.why-not-atom-result');

        const whyNotButCase = whyNot.querySelector('.why-not-but-case');
        const whyNotButCase_user = whyNotButCase.querySelector('select.user');
        const whyNotButCase_notRecommendedMovieSelect = whyNotButCase.querySelector('select.not-recommended-movies');
        const whyNotButCase_recommendedMovieSelect = whyNotButCase.querySelector('select.recommended-movies');
        const whyNotButCase_calWhyNotButResult = whyNotButCase.querySelector('.cal-why-not-but-result');
        const whyNotButCase_whyNotButResult = whyNotButCase.querySelector('.why-not-but-result');

        const whyNotItemRankHigher = whyNot.querySelector('.why-not-item-rank-higher-case');
        const whyNotItemRankHigher_user = whyNotItemRankHigher.querySelector('select.user');
        const whyNotItemRankHigher_recommendedMovieSelect = whyNotItemRankHigher.querySelector('select.recommended-movies');
        const whyNotItemRankHigher_calWhyNotItemRankHigherResult = whyNotItemRankHigher.querySelector('.cal-why-not-item-rank-higher-case-result');
        const whyNotItemRankHigher_whyNotItemRankHigherResult = whyNotItemRankHigher.querySelector('.why-not-item-rank-higher-case-result');

        const whyNotRankHigherThan = whyNot.querySelector('.why-not-rank-higher-than-case');
        const whyNotRankHigherThan_user = whyNotRankHigherThan.querySelector('select.user');
        const whyNotRankHigherThan_lowerRecommendedMovieSelect = whyNotRankHigherThan.querySelector('select.lower-ranked-movies');
        const whyNotRankHigherThan_higherRecommendedMovieSelect = whyNotRankHigherThan.querySelector('select.higher-ranked-movies');
        const whyNotRankHigherThan_calWhyNotRankHigherThanResult = whyNotRankHigherThan.querySelector('.cal-why-not-rank-higher-than-result');
        const whyNotRankHigherThan_whyNotRankHigherThanResult = whyNotRankHigherThan.querySelector('.why-not-rank-higher-than-result');

        const whyNotGenre = whyNot.querySelector('.why-not-genre-case');
        const whyNotGenre_user = whyNotGenre.querySelector('select.user');
        const whyNotGenre_notRecommendedGenreSelect = whyNotGenre.querySelector('select.not-recommended-genres');
        const whyNotGenre_calWhyNotGenreResult = whyNotGenre.querySelector('.cal-why-not-genre-result');
        const whyNotGenre_whyNotGenreResult = whyNotGenre.querySelector('.why-not-genre-result');

        const getSelectedUsers = (options) => [...options].filter(userOpt => userOpt.selected).map(userOpt => userOpt.value);
        const populateSelectedUserOptions = (optionElem, selectedUsers) => {
            selectedUsers.forEach(selectedUser => {
                const opt = document.createElement('option');
                opt.value = selectedUser;
                opt.innerHTML = selectedUser;
                optionElem.appendChild(opt);
            });
        };

        const populateSelectedMovieOptions = (optionElem, notRecommendedMovies) => {
            notRecommendedMovies.forEach(notRecommendedMovie => {
                const opt = document.createElement('option');
                opt.value = notRecommendedMovie.movieId;
                opt.innerHTML = notRecommendedMovie.movieId;
                optionElem.appendChild(opt);
            });
        }

        const populateSelectedGenresOptions = (optionElem, notRecommendedGenres) => {
            notRecommendedGenres.forEach(notRecommendedGenre => {
                const opt = document.createElement('option');
                opt.value = notRecommendedGenre;
                opt.innerHTML = notRecommendedGenre;
                optionElem.appendChild(opt);
            });
        }

        calGroupList.addEventListener('click', e => {
            const selectedUsers = getSelectedUsers(usersSelect.options);
            if (selectedUsers.length == 0) {
                return;
            }

            groupListResult.innerHTML = `<p>Calulating</p>`;
            
            fetch(`/group-recommendation/why-not/movies?users=${selectedUsers.join(',')}`)
                .then(response => response.json())
                .then(data => {
                    groupList = data;
                    groupListResult.innerHTML = `
                        <table>
                            <tr>
                                <th>Movie</th>
                                <th>Rate</th>
                                <th>Genre</th>
                            </tr>
                            ${
                                groupList.recommendedAggregationList.map(mvRate => 
                                `<tr>
                                    <td>${mvRate.movieId}</td>
                                    <td>${mvRate.rate}</td>
                                    <td>${mvRate.genre}</td>
                                </tr>`).join('')
                            }
                        </table>
                    `;

                    populateSelectedUserOptions(whyNotAtomicCase_user, selectedUsers);
                    populateSelectedUserOptions(whyNotButCase_user, selectedUsers);
                    populateSelectedUserOptions(whyNotItemRankHigher_user, selectedUsers);
                    populateSelectedUserOptions(whyNotRankHigherThan_user, selectedUsers);
                    populateSelectedUserOptions(whyNotGenre_user, selectedUsers);

                    populateSelectedMovieOptions(whyNotAtomicCase_notRecommendedMovieSelect, groupList.notRecommendedAggregationList);
                    populateSelectedMovieOptions(whyNotButCase_notRecommendedMovieSelect, groupList.notRecommendedAggregationList);
                    populateSelectedMovieOptions(whyNotButCase_recommendedMovieSelect, groupList.recommendedAggregationList);
                    populateSelectedMovieOptions(whyNotItemRankHigher_recommendedMovieSelect, groupList.recommendedAggregationList);
                    populateSelectedMovieOptions(whyNotRankHigherThan_lowerRecommendedMovieSelect, groupList.recommendedAggregationList);
                    populateSelectedMovieOptions(whyNotRankHigherThan_higherRecommendedMovieSelect, groupList.recommendedAggregationList);

                    populateSelectedGenresOptions(whyNotGenre_notRecommendedGenreSelect, groupList.notRecommendedGenres);
                })
                .catch(error => console.error(`Error: ${error}`));   
        });

        whyNotAtomicCase_calWhyNotAtomResult.addEventListener('click', (e) => {
            const selectedUser = whyNotAtomicCase_user.value;
            const selectedMovie = whyNotAtomicCase_notRecommendedMovieSelect.value;

            if (!selectedUser && !selectedMovie) return;

            whyNotAtomicCase_whyNotAtomResult.innerHTML = `<p>Calculating</p>`;

            fetch(`/group-recommendation/why-not/atom/${selectedUser}/${selectedMovie}`)
                .then(response => response.json())
                .then(jsonData => JSON.stringify(jsonData, null, 4))
                .then(data => {
                    whyNotAtomicCase_whyNotAtomResult.innerHTML = `<pre><code>${data}</code></pre>`;
                })
                .catch(error => console.error(`Error: ${error}`));
        });

        whyNotButCase_calWhyNotButResult.addEventListener('click', (e) => {
            const selectedUser = whyNotButCase_user.value;
            const selectedNotRecommendedMovie = whyNotButCase_notRecommendedMovieSelect.value;
            const selectedRecommendedMovie = whyNotButCase_recommendedMovieSelect.value;

            if (!selectedUser && !selectedNotRecommendedMovie && !selectedRecommendedMovie) return;

            whyNotButCase_whyNotButResult.innerHTML = `<p>Calculating</p>`;

            fetch(`/group-recommendation/why-not/but/${selectedUser}/${selectedNotRecommendedMovie}/${selectedRecommendedMovie}`)
                .then(response => response.json())
                .then(jsonData => JSON.stringify(jsonData, null, 4))
                .then(data => {
                    whyNotButCase_whyNotButResult.innerHTML = `<pre><code>${data}</code></pre>`;
                })
                .catch(error => console.error(`Error: ${error}`));
        });

        whyNotItemRankHigher_calWhyNotItemRankHigherResult.addEventListener('click', (e) => {
            const selectedUser = whyNotItemRankHigher_user.value;
            const selectedRecommendedMovie = whyNotItemRankHigher_recommendedMovieSelect.value;

            if (!selectedUser && !selectedRecommendedMovie) return;

            whyNotItemRankHigher_whyNotItemRankHigherResult.innerHTML = `<p>Calculating</p>`;

            fetch(`/group-recommendation/why-not/rank-higher/${selectedUser}/${selectedRecommendedMovie}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({...groupList}),
            })
                .then(response => response.json())
                .then(jsonData => JSON.stringify(jsonData, null, 4))
                .then(data => {
                    whyNotItemRankHigher_whyNotItemRankHigherResult.innerHTML = `<pre><code>${data}</code></pre>`;
                })
                .catch(error => console.error(`Error: ${error}`));
        });

        whyNotRankHigherThan_calWhyNotRankHigherThanResult.addEventListener('click', (e) => {
            const selectedUser = whyNotRankHigherThan_user.value;
            const selectedLowerRecommendedMovie = whyNotRankHigherThan_lowerRecommendedMovieSelect.value;
            const selectedHIgherRecommendedMovieSelect = whyNotRankHigherThan_higherRecommendedMovieSelect.value;

            if (!selectedUser && !selectedNotRecommendedMovie && !selectedRecommendedMovie) return;

            whyNotRankHigherThan_whyNotRankHigherThanResult.innerHTML = `<p>Calculating</p>`;

            fetch(`/group-recommendation/why-not/rank-higher-than/${selectedUser}/${selectedLowerRecommendedMovie}/${selectedHIgherRecommendedMovieSelect}`)
                .then(response => response.json())
                .then(jsonData => JSON.stringify(jsonData, null, 4))
                .then(data => {
                    whyNotRankHigherThan_whyNotRankHigherThanResult.innerHTML = `<pre><code>${data}</code></pre>`;
                })
                .catch(error => console.error(`Error: ${error}`));
        });

        whyNotGenre_calWhyNotGenreResult.addEventListener('click', (e) => {
            const selectedUser = whyNotGenre_user.value;
            const selectedNotRecommendedGenre = whyNotGenre_notRecommendedGenreSelect.value;

            if (!selectedUser && !selectedNotRecommendedGenre) return;

            whyNotGenre_whyNotGenreResult.innerHTML = `<p>Calculating</p>`;

            fetch(`/group-recommendation/why-not/movie-genre/${selectedUser}/${selectedNotRecommendedGenre}`)
                .then(response => response.json())
                .then(jsonData => JSON.stringify(jsonData, null, 4))
                .then(data => {
                    whyNotGenre_whyNotGenreResult.innerHTML = `<pre><code>${data}</code></pre>`;
                })
                .catch(error => console.error(`Error: ${error}`));
        });
    })();
</script>